{{!-- recipes page --}}
<div>
    <h1>Recipes!</h1>
</div>
{{#each recipes}}
<div class="recipe-card">
    <div>
        <h3><a href="/recipes/{{id}}">{{name}}</a></h3>
        <p>{{category.name}}</p>
        <p>Created by <a href="/users/{{user.id}}">{{user.name}}</a></p>
    </div>
    <div>
        <p>Prep Time: {{time}}</p>
    </div>
</div>
{{/each}}