{{!-- recipes page --}}
{{!-- Recipes page will display all recipes in the DB and show the associated user, which can be clicked on to see that user's profile and recipes, and category name --}}
<div class="recipe-window">
    <h1>Recipes!</h1>
    {{#each recipes}}
    <div class="recipe-card">
        <div>
            <h3><a href="/recipes/{{id}}">{{name}}</a></h3>
            <p>Category: {{category.name}}</p>
            <p>Created by <a href="/users/{{user.id}}">{{user.name}}</a></p>
        </div>
    </div>
    {{/each}}
</div>