{{!-- recipes page --}}

{{!-- Recipe page image will only show up if there is an associated image --}}
<div class="recipe-window">
    <div class="recipe-card">
        <h1>{{name}}</h1>
        <div>
            {{#if image_url}}
            <img src="{{image_url}}">
            {{/if}}
            <div>
                <h2><span class="bold-font">Created by</span> {{user.name}}</h2>
            </div>

            <div class="recipe-descrip">
                <p><span class="bold-font">Category: </span>{{category.name}}</p>
                <p>{{description}}</p>
                <p><span class="bold-font">Prep Time: </span>{{time}}</p>
                <p class="bold-font">Ingredients:</p>
                <p>{{ingredients}}</p>
                <p class="bold-font">Instructions:</p>
                <p>{{instructions}}</p>

            </div>
        </div>
    </div>
</div>