{{!-- recipes page --}}
<div class="recipe-window">
    <div>
        <h1>Recipes!</h1>
    </div>
    {{#each recipes}}
    <div class="recipe-card">
        <div>
            <h3><a href="/recipes/{{id}}">{{name}}</a></h3>
            <p>Category: {{category.name}}</p>
            <p>Created by <a href="/users/{{user.id}}">{{user.name}}</a></p>
        </div>
    </div>
    {{/each}}
</div>