<div class="recipe-window">
    <h2 class="userHeader">{{name}}'s Kitchen</h2>
    {{#each recipes}}
    <div class="recipe-card">
        <div>
            <h2>
                <a href="/recipes/{{id}}">{{name}}</a>
            </h2>
            <p>
                {{name}} - {{category.name}}
            </p>
            <p>Created by <a href="/users/{{user.id}}">{{user.name}}</a></p>
        </div>
        <div>
            <p>
                {{description}}
            </p>
            <p>
                {{time}}
            </p>
        </div>
    </div>
    {{/each}}
</div>